/*通用css代码*/
@keyframes sun{
	100%{
		background-position: -400% 0;
	}
}
@keyframes rotate{
	from{transform: rotate(0deg);}
	to{transform: rotate(360deg);}
}
@keyframes rocket{
	10%{
		transform: translateY(20px);
	}
	100%{
		transform: translateY(-800px);
	}
}
@keyframes  float{
	50%{
		transform: translateY(-0.2em);
	}
	100%{
		transform: translateY(0em);
	}
}
/*毛秋月*/
/*.logo{
	height: 70px;
	width: 70px;

}
.anniu>ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
.anniu li{
	width: 14px;
	height: 14px;
	border-radius: 100%;
	background-color: #ccc;
	float: left;
	margin-right: 10px;
}

.anniu li:hover{
	background-color: #fff;
}
.anniu{
	position: absolute;
	bottom: 30px;
	right: 199px;
}*/
/*毛秋月*/
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.active{
	background-color: deepskyblue;
}
/*第一部分*/
body{
	padding-top: 0;
	font: 14px/1.8 "Microsoft Yahei","微软雅黑","Hiragino Sans GB","冬青黑体",tahoma,"times new roman",helvetica,arial;
}
#topNav {
	/* height: 40px; */
	z-index: 1;
	border: none;
	background-color: rgba(255,255,255,1);
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	box-shadow: inset 0px -5px 0px rgba(0,0,0,0.2);
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	box-sizing: border-box;
	border-top: 4px solid deepskyblue;
}
#topNav .container{
	
}
#topNav .navbar-nav>li>a{
	height: 100%;
	line-height: 60px;
	color: black;
	padding-left: 30px;
	padding-right: 30px;
}
#topNav .navbar-header .navbar-brand{
	line-height: 60px;
	color: black;
}
#topNav .navbar-header .navbar-toggle{
	margin-top: 22px;
}
#mynavbar >ul > li{
	box-sizing: border-box;
}
#mynavbar >ul > li:hover{
	background-color: rgba(139, 195, 74,1);
	color: white;
	/*outline:3px solid #FF5722;*/
}
#main{
	padding: 0;
}
#bn{
	height: 100vh;
	width: auto;
	overflow: hidden;
}
#main .banner_img{
	position: absolute;
	transition: 0.3s;
	height: 100%;
	width: 100%;
	transition: 2s;
	opacity: 0;
	/*transform: scale(1.1,1.1);*/
}
#banner_icon{
	/*display: none;*/
	height: 100px;
	width: auto;
}
#on{
	opacity: 1!important;
}

#toLeft {						/*这是左侧按钮*/
	z-index: 1;
	 transition: .1s; 
	background-color: white;
	height: 60px;
	width: 75px;
	font-size: 30px;
	border: none;
	color: black;
	position: absolute;
	bottom: 50%;
	left: 0;
	box-shadow: inset 0px -5px 0 0 rgba(0,0,0,0.2);
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	box-sizing: border-box;
	border-left: 5px solid deeppink;
}
#toRight{					/*这是右侧按钮*/
	z-index: 1;
	transition: .1s;
	background-color: white;
	height: 60px;
	width: 75px;
	font-size: 30px;
	border: none;
	color: black;
	position: absolute;
	bottom: 50%;
	right: 0;
	box-shadow: inset 0px -5px 0 0 rgba(0,0,0,0.2);
	border-top-left-radius: 5px;
	border-bottom-left-radius:5px;
	box-sizing: border-box;
	border-right: 5px solid #8BC34A;
}
#toLeft:active{
	height: 55px;
	box-shadow:inset 0px 0px 0 0 rgba(0,0,0,0.2);
}
#toRight:active{
	height: 55px;
	box-shadow:inset 0px 0px 0 0 rgba(0,0,0,0.2);
}
#banner_choose{				/*用于选择轮播图的父容器*/
	position: absolute;
	/*background-color: rgba(25,25,25,0.1);*/
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 5%;
	width: 10%;
	bottom: 10%;
	right: 10%;
}
#banner_choose li {
	cursor: pointer;
	height: 10px;
	width: 10px;
	background-color: white;
	box-shadow: 1px 2px 0px deeppink;
	outline: 1px solid deeppink;
}
#banner_choose .active{
	transition: .1s;
	transform: rotateX(60deg);
}
/*#banner_choose li:hover{
	transform: scale(1.2,1.2);
}*/
#float{
	position: absolute;
	top: 45%;
	left: 5%;
	/*height: 300px;*/
	color: white;
}
#float button {
	border: none;
	display: inline-block;
	transition: 0.1s;
	margin: 10px 30px;
	height: 50px;
	width: 130px;
	padding: 0;
	color: white;
	font-size: 1.5em;
}
#float button a{
	display: inline-block;
	line-height: 40px;
	height: 100%;
	width: 100%;
	text-decoration: none;
	color: inherit;
}
#float button:last-child{
	background-color: #8BC34A;
	box-shadow: inset 0px -5px 0px #689F38;
}
#float button:first-of-type{
	box-shadow: inset 0px -5px 0px #E91E63;
	background-color: #FF4081;
}
#float button:active{
	margin-top: 15px;
	height: 45px;
	box-shadow: none;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
	background-color: transparent;
}
/*团队介绍*/
#introduce_team{
	position: relative;
	padding-top: 5%;
	padding-bottom: 5%;
	background-color: rgba(25,25,25,0.3);
	background-image: url(../img/block.jpg);
	background-size: auto;
	text-align: center;
	color: white;
	
}
#introduce_team h2{
	position: relative;
	font-size: 40px;
	letter-spacing: 1em;
	margin-top: 0;
}
.h2{
	margin-bottom: 30px;
}
.lie{
	position: relative;
	cursor: pointer;
	display: inline-block;
	width: auto;
	color: deepskyblue;
	text-shadow: 1px 1px 0px white;
}
.lie:after{
	content: "!";
}
.lie:hover{
	transition: 0.5s;
	letter-spacing: 9px; 
	text-decoration: underline;
}
#team{
	border-top: transparent 5px solid;
	padding: 80px 0 0;
	padding-bottom: 100px;
}
#team img:nth-of-type(1){
	min-height: 270px;
	background-size: 100% auto;
	background-position: 0% 70%;
	background-image: url(../img/bear.png);
	box-shadow: inset -3px -3px rgba(0,0,0,0.2);
	border-top: 5px solid #795548;
	border-left: 5px solid #795548;
	display: none;
}
#team img:nth-of-type(2){
	min-height: 270px;
	background-size: 100% auto;
	background-position: 0% 70%;
	background-image: url(../img/bear.png);
	box-shadow: inset -3px -3px rgba(0,0,0,0.2);
	border-top: 5px solid #795548;
	border-left: 5px solid #795548;
}
#icon_mask{
	background: rgba(255,255,255,0.5);
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0px;
	right: 0px;
	z-index: 0;
}
#team div:first-child img{
	width: 100%;
	border-radius: 15px;
}
#team div:last-child{
	padding-top: 30px;
	height: 100%;
}
#team div:last-child p {
	line-height: 30px;
	padding: 5px;
	text-shadow: 1px 1px 0px #795548;
}
/*.light{
	font-size: 16px;
	background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
	background-size: 400%;
	border-radius: 10px;
	border: none;
	padding: 5px 45px;
	position: relative;
	z-index: 1;
}*/
.light {
	font-size: 16px;
	background-size: 400%;
	border-radius: 10px;
	border: none;
	padding: 10px 30px;
	position: relative;
	z-index: 1;
	box-shadow: 2px 2px 0 rgba(0,0,0,0.2);
	background-color: white;
	border-left: 15px solid #448AFF;
	box-sizing: content-box;
	border-right: 15px solid deeppink;
	color: #795548;
}
.light:hover{
	/*transform: scale(1.1,1.1);*/
	/*animation: sun 4s infinite;*/
	transform: scale(0.9,0.9);
}
.light::before {
	content: ".";
	position: absolute;
	z-index: -1;
	right: -50%;
	font-size: 5em;
	top: -60%;
	height: 50%;
	width: auto;
	text-shadow: 2px 2px white;
	pointer-events: none;
	animation: float 4s linear infinite;
}
.light2{
	/*transform: translate(-50%,-50%);*/
	font-size: 16px;
	background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
	background-size: 400%;
	border: none;
	padding: 5px 45px;
	position: relative;
	z-index: 1;
}
.light2:hover{
	transform: scale(1.1,1.1);
	animation: sun 4s infinite;
}
.light2::before{
	content: "";
	position: absolute;
	left: -5px;
	right: -5px;
	top: -5px;
	bottom: -5px;
	background: linear-gradient(90deg,#03a9f4,#f441a5,#03a9f4);
	background-size: 400%;
	filter: blur(10px);
	z-index: -1;
}
.light2:hover:before{
	animation: sun 4s infinite;
}
/*队员介绍*/
#member{
	padding: 50px 0 0;
}
#introduce_member{
	padding-top: 5%;
	transition: 0.5s;
	color: white;
	position: relative;
	background: rgba(25,25,25,1);
	background-attachment: fixed;
	/*background-size: cover;*/
}
#introduce_member .media{						/*默认框，唐强的框*/
	cursor: pointer;
	transition: 0.5s;
	height: 200px;
	overflow: hidden;
	border-top: 5px solid purple;
	border-left: 5px solid purple;
	box-shadow: inset -5px -5px rgba(0,0,0,0.2);
	color: purple;
}
#introduce_member .member:nth-of-type(1) .media-object{				/*头像框*/
	outline: 3px solid purple;
	outline-offset: -3px;
}
#introduce_member .member:nth-of-type(2) .media-object{
	outline: 3px solid deeppink;
	outline-offset: -3px;
}
#introduce_member .member:nth-of-type(3) .media-object{
	outline: 3px solid rgba(39, 174, 96,1.0);
	outline-offset: -3px;
}
#introduce_member .member:nth-of-type(4) .media-object{
	outline: 3px solid rgba(41, 128, 185,1.0);
	outline-offset: -3px;
}
.well{
	border-radius: 20px;
	border: none;
}
#introduce_member .media:nth-of-type(2){			/*毛秋月的框*/
	border-top: 5px solid deeppink;
	border-left: 5px solid deeppink;
	box-shadow: inset -5px -5px rgba(0,0,0,0.2);
	color: deeppink;
}
#introduce_member .media:nth-of-type(3){			/*翟维的框*/
	border-top: 5px solid rgba(39, 174, 96,1.0);
	border-left: 5px solid rgba(39, 174, 96,1.0);
	box-shadow: inset -5px -5px rgba(0,0,0,0.2);
	color: rgba(39, 174, 96,1.0);
}
#introduce_member .media:nth-of-type(4){			/*李茂鑫的框*/
	border-top: 5px solid rgba(41, 128, 185,1.0);
	border-left: 5px solid rgba(41, 128, 185,1.0);
	box-shadow: inset -5px -5px rgba(0,0,0,0.2);
	color: rgba(41, 128, 185,1.0);
}
#introduce_member .media:hover{
	overflow: auto;
	/*background-color: rgba(49,23,43,0.4);*/
	height: 50vh;
}
#introduce_member .media:nth-of-type(2):hover{
	/*background-color: rgba(252, 66, 123,0.4);*/
}
#introduce_member .media:nth-of-type(3):hover{
	/*background-color: rgba(88, 177, 159,0.4);*/
}
#introduce_member .media:nth-of-type(4):hover{
	/*background-color: rgba(52, 152, 219,0.4);*/
	height: 50vh;
}
#introduce_member .media .media-heading{
	margin-bottom: 10px;
}
#introduce_member .media .media-heading small{
	color: rgba(255,255,255,0.7);
}
/*#introduce_member .media .media-body{
	width: 100%;
}*/
#introduce_member .media p{
	overflow: hidden;
	/*white-space: nowrap;*/
	text-overflow: ellipsis;
}
#introduce_member aside{
	height: 100px;
	background-color: deeppink;
}
.pop_image_left{
	display: none;
	position: fixed;
	left: -50px;
	bottom: 0px;
	z-index: 1;
	pointer-events: none;
}
.pop_image_right{
	display: none;
	position: fixed;
	right: 0px;
	top: 100px;
	z-index: 1;
	pointer-events: none;
}
.longText{
	margin-top: 50px;
	
}
/*服务项目*/
#Service{
	margin: 0;
	background: rgba(25,25,25,1);
	background-image: url(../img/block.jpg);
	color: white;
	padding: 5% 0px;
}
#Service .spotlight{
	text-shadow: 2px 2px 0px deepskyblue;
}
#Service .spotlight:after{
	content: "!";
}
#Service .row{
	margin: 0;
}
.mask{
	transition: top,left,right,bottom,opacity,transform 0.2s;
	cursor: pointer;
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	color: white;
	z-index: -1;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
.mask p{
	/*margin: 20px 0 40px;*/
	/*background-color: rgba(0,0,0,0.3);*/
	text-shadow: 1px 1px 0px #F44336;
	padding: 20px 10px;
}
.mask div {
	/* padding: 0; */
	
}
.mask h1{
	/*margin-bottom: 50px;*/
	font-weight: bold;
	color: white;
	text-shadow: 2px 2px #8BC34A;
}
.mask h1 small{
	font-size: 0.5em;
	color: white;
	text-shadow: 2px 2px deepskyblue;
}
.mask h2{
	font-size: 1.5em;
	/*margin-top: 30px;
	margin-bottom: 100px;*/
	font-weight: bold;
	color: white;
	text-shadow: 2px 2px deeppink;
}
#Service .mask{
	top: 30px;
	left: 30px;
	bottom: 30px;
	right: 30px;
}
#Service .mask div{
	border: none;
	box-shadow: none;
}
#Service .light{
	width: 4em;
	padding: 10px;
	font-size: 1em;
	height: 23px;
	border: none;
	box-shadow: inset 0px -4px rgba(0,0,0,0.2);
	border-radius: 5px;
}
#Service .light:active{
	margin-top: 4px;
	height: 19px;
	box-shadow: none;
}
#Service .light:hover{
	transform: scale(1,1);
}
#Service .light:before{
	content: "";
	display: none;
}
.service_img{
	padding: 30px;
	overflow: hidden;
/*	background-color: deepskyblue;*/
}
.service_img div{
	/*position: relative;*/
	overflow: hidden;
	border: 1em solid white;
}
.service_img div:hover{
	box-shadow: 1em 1em 0px #455A64;
}
.row .service_img:nth-of-type(2) div:hover{
	box-shadow: 1em 1em 0px deepskyblue;
}
.row .service_img:nth-of-type(3) div:hover{
	box-shadow: 1em 1em 0px #CDDC39;
}
.row .service_img:nth-of-type(4) div:hover{
	box-shadow: 1em 1em 0px #FFC107;
}
/*.service_img div {
	overflow: hidden;
	box-shadow: 1em 1em 0px deeppink;
	border: 1em solid white;
}*/
.service_img div img{
	cursor: pointer;
	filter: grayscale(100%);
}
.service_img div:hover img{
	filter: grayscale(0%);
}
.service_img div:hover>.mask{
	z-index: 0;
	transform:translateY(0px);
	border: none;
	box-shadow: none;
}

/*作品展示模块*/
#works{
	padding: 0 100px;
}
#ourWorks{
	border: none;
}
#ourWorks .active{
	background-color: transparent;
}
#ourWorks li a{				/*标签页选项a标签样式*/
	color: white;
	border: 1px solid white;
	border-radius: 0px;
}
#ourWorks li a:hover{
	color: black;
}
#ourWorks li.active a{
	color: black;
}
#ourWorks .dropdown-menu li a{			/*下拉菜单中的a标签样式*/
	color: white;
}
#ourWorks .dropdown-menu li a:hover{
	color: black;
}
#ourWorks .dropdown-menu{
	background-color: transparent;
}
.open #ourStyle{			/*激活状态下的下拉菜单按钮样式*/
	color: black;
}
#worksContent{
	float: left;
	width: 100%;
}
#worksContent .active{					/*工作内容在激活状态下的样式*/
	background-color: transparent;
	border: 1px solid white;
}
#worksContent>div{
	float: left;
	width: 100%;
}
.works{
	border: 1px solid white;
	max-height: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	overflow: hidden;
	/*border-radius: 3px;*/
}
.works .works_mask{
	height: 30%;
	/*width: 100%;*/
	bottom: 0;
	left: 15px;
	right: 15px;
	background-color: rgba(255,255,255,0.9);
	position: absolute;
	color: black;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 3%;
	transition: .3s;
	transform: translateY(100%);
}
.works .works_mask span{
	color: #455A64;
}
.works:hover .works_mask{
	transform: translateY(0%);
}
.works .works_mask p{
	margin: 0;
	display: inline-block;
}
.works svg{
	color: #03A9F4;
	cursor: pointer;
}
.works a{
	color: #5D4037;
}
.works a:hover{
	color: black;
	text-decoration: none;
}
#check_work{			/*这是用来检查大图的容器*/
	max-width: 70%;
	width: auto;
	padding: 2%;
	background-color: white;
	left: 15%;
	position: absolute;
	top: 5%;
	z-index: 1;
	display: none;
	box-shadow: 10px 10px 0px deepskyblue;
}
#check_work::after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	box-shadow: -10px -10px 0px #8BC34A;
}
.works_scale:hover{
	cursor: pointer;
	transform: scale(1.2,1.2);
}
/*联系我们*/
#contact{
	padding: 0px 100px;
}
#contact form .form-control {
	border: 2px solid deeppink;
	font-size: 1em;
	color: deeppink;
	border-radius: 0px;
	box-shadow: 2px 2px 0px deepskyblue;
}
#contact fieldset{
	text-align: start;
	min-width: none;
	padding: 10px;
	margin: auto;
	border: 1px solid white;
}
#contact .btn-default {
	transition: 0.1s;
	border-radius: 0px;
	height: 50px;
	width: 120px;
	border: none;
	box-shadow: inset 0px -4px rgba(0,0,0,0.2);
	border-radius: 5px;
}
#contact .btn-default:hover{
	color: white;
	background-color: deepskyblue;
}
#contact .btn-default:active{
	height: 46px;
	box-shadow: none;
	margin-top: 4px;
}
#contact .lie{
	margin-bottom: 5%;
}
#contact >div > p{
	font-weight: 700;
	text-shadow: 2px 2px 0px #4CAF50;
}
#contact >div > p >svg{
	font-size: 1.5em;
}
#map{
	margin-top: 100px;
	height: 200px;
}
/*侧边固定导航*/
#cbList_container{
	/*background-color: deepskyblue;*/
	transition: 0.3s;
	list-style: none;
	position: fixed;
	z-index: 10;
	right: 0px;
	bottom: 5%;
	padding: 0;
	overflow:hidden;
	height: 40px;
}
/*#cbList_container li{
	transition: 0.1s;
	padding: 0;
	height: 40px;
	width: 40px;
	font-size: 25px;
	margin-bottom: 20px;
	border-radius: 5px;
	background-color:white;
	cursor: pointer;
	
}*/
/*#cbList_container li a{
	transition: 0.1s;
	padding: 0;
	height: 40px;
	width: 40px;
	display: block;
	font-size: 25px;
	margin-bottom: 20px;
	border-radius: 5px;
	background-color:white;
	cursor: pointer;
	
}*/
#cbList_container li a {
	transition: 0.1s;
	padding: 0;
	height: 40px;
	width: 40px;
	display: flex;
	font-size: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
	background-color: white;
	cursor: pointer;
	color: black;
	border-top: 5px solid #616161;
	box-shadow: inset 0px -3px 0px rgba(0,0,0,0.2);
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
}
#cbList_container #conf{
	/*position: absolute;
	bottom: 0;
	margin-bottom: 0;
	display: block;
	z-index: 1;*/
}
#cbList_container li a:hover{
	transform: scale(1.1,1.1);
}
#cbList_container li a:active{
	height: 37px;
	box-shadow: inset 0px 0px 0px rgba(0,0,0,0.2);
	transform: translateY(3px) scale(1.1,1.1);
}
#cbList_container li:nth-child(2) a{
	border-top: 5px solid #fbc531;
}
#cbList_container li:nth-child(3) a{
	border-top: 5px solid #40739e;
}
#cbList_container li:nth-child(4) a{
	border-top: 5px solid #44bd32;
}
#cbList_container li:nth-child(5) a{
	border-top: 5px solid #273c75;
}
#cbList_container li:nth-child(6) a{
	border-top: 5px solid #e44114;
}
#cbList_container li:nth-child(7) a{
	border-top: 5px solid #00a4ff;
}
#cbList_container #toTop:hover{
	transform: scale(1.1,1.1) rotate(0deg);
}
.cbList{
	display: block;
	height: 100%;
	width: 100%;
	line-height: 40px;
	color: white;
}
.cbList:hover{		/*清除a标签样式*/	
	color: white;
}
#conf svg{
	animation: 2.5s linear rotate infinite;
}
#conf:hover svg{
	animation: 1s linear rotate infinite;
}
/*底部*/
#footer{
	height: 40px;
	line-height: 40px;
	background-color: #101010;
	color: white;
}


/*标题聚光灯*/


/*h2{
	display: flex;
	display:-webkit-flex;
	align-items: center;
	justify-content: center;
}*/
.spotlight{
	position: relative;
	color: white;
	display: inline-block;
	background-clip: text;
	text-shadow: 0px 0px 8px rgba(255,255,255,0.3);
	letter-spacing: 1em;
	text-shadow: 2px 2px 0px deeppink;
}
.spotlight:after{
	content: "!";
}
.spotlight2{
	position: relative;
	display: inline-block;
}
.spotlight2:after{
	content: "我们的团队";
	color: transparent;
   	position:absolute;
    left:0;
    top:0;
	background: -webkit-linear-gradient(left,#c23616,#192a56,#00d2d3,#ff1232,#6d214f,#2e64de,#4cd137,#e44114);
    background-clip:text;
    -webkit-background-clip:text;
    clip-path:circle(50px at 0% 50%);
    -webkit-clip-path: circle(50px at 0% 50%);
    animation: jgdx 5s infinite;
}
.spotlight3{
	position: relative;
	display: inline-block;
}
.spotlight3:after{
	content: "服务项目";
	color: transparent;
   	position:absolute;
    left:0;
    top:0;
	background: -webkit-linear-gradient(left,#c23616,#192a56,#00d2d3,#ff1232,#6d214f,#2e64de,#4cd137,#e44114);
    background-clip:text;
    -webkit-background-clip:text;
    clip-path:circle(50px at 0% 50%);
    -webkit-clip-path: circle(50px at 0% 50%);
    animation: jgdx 5s infinite;
}
.spotlight4{
	position: relative;
	display: inline-block;
}
.spotlight4:after{
	content: "联系我们";
	color: transparent;
   	position:absolute;
    left:0;
    top:0;
	background: -webkit-linear-gradient(left,#c23616,#192a56,#00d2d3,#ff1232,#6d214f,#2e64de,#4cd137,#e44114);
    background-clip:text;
    -webkit-background-clip:text;
    clip-path:circle(50px at 0% 50%);
    -webkit-clip-path: circle(50px at 0% 50%);
    animation: jgdx 5s infinite;
}

@keyframes jgdx{
	0%{
		clip-path: circle(50px at 0% 50%);
		-webkit-clip-path: circle(50px at 0% 50%);
		
	}
	50%{
		clip-path: circle(50px at 100% 50%);
		-webkit-clip-path: circle(50px at 100% 50%);
		
	}
	100%{
		clip-path: circle(50px at 0% 50%);
		-webkit-clip-path: circle(50px at 0% 50%);
		
	}
}
@keyframes title{
	from{background-position: -500% 100%;}
	to{background-position: 500% 100%;}
}
/*加载动画*/
#loading{
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 100;
	background-color: navajowhite;
	box-sizing: border-box;
	border-top: 15px #8BC34A solid;
	border-bottom: 15px solid saddlebrown;
	display: flex;
	align-items: center;
	justify-content: center;
}
#loading_colorBlock{
	height: 10em;
	width: 10em;
	background-color: rgba(0,200,240,0.8);
	display: block;
	position: relative;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	animation: 7s rotateBlock infinite;
}
.loading_item{
	display: none;
}
.block{
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: white;
	font-size: 2em;
	color: black;
	text-align: center;
	box-sizing: border-box;
}
.block_top{
	border: #03A9F4 10px solid;
	transform: rotateX(90deg) translateZ(2.5em);
	transform-origin: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.block_bottom{
	border: #FF4081 10px solid;
	transform: rotateX(90deg) translateZ(-2.5em);
	transform-origin: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.block_left {
	border: #FBC02D 10px solid;
	transform:rotateY(90deg) translateZ(-2.5em);
	display: flex;
	align-items: center;
	justify-content: center;
}
.block_right{
	border: #455A64 10px solid;
	transform:rotateY(90deg) translateZ(2.5em);
	display: flex;
	align-items: center;
	justify-content: center;
}
.block_p{
	border: #8BC34A 10px solid;
	transform:translateZ(2.5em);
	display: flex;
	align-items: center;
	justify-content: center;
}
.block_n{
	border: #E91E63 10px solid;
	transform:translateZ(-2.5em);
	display: flex;
	align-items: center;
	justify-content: center;
}
#loading p{
	display: block;
	position: absolute;
	color: deeppink;
	font-size: 3em;
	bottom: 5%;
	margin: 0 auto;
	text-shadow: 2px 2px white;
}
@keyframes rotateBlock{
	15%{
		transform: rotateX(-25deg) rotateY(30deg) rotateZ(0deg);
	}
	30%{
		transform: rotateX(-25deg) rotateY(120deg) rotateZ(0deg);
	}
	45%{
		transform: rotateX(-25deg) rotateY(220deg) rotateZ(0deg);
	}
	60%{
		transform: rotateX(-25deg) rotateY(360deg) rotateZ(0deg);
	}
	70%{
		transform: rotateX(-35deg) rotateY(367deg) rotateZ(-10deg);
	}
	90%{
		transform: rotateX(125deg) rotateY(25deg) rotateZ(70deg);
	}
	95%{
		transform: rotateX(130deg) rotateY(-25deg) rotateZ(130deg);
	}
	100%{
		transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
	}
}
/*************************
 *********模态框**********
 *************************/
/*默认样式、默认样式应该与当前页面风格是协调的*/
.modal-content{
	color: white;
	background-image: url(../img/block.jpg);
	border-radius: 5px;
	text-shadow: 2px 2px 0px #8BC34A;
}
.modal-body form .form-control {
	border: 2px solid white;
	font-size: 1em;
	color: black;
	border-radius: 3px;
}
.modal-body fieldset{
	text-align: start;
	min-width: none;
	padding: 10px;
	margin: auto;
	border: 1px solid white;
}
.modal-header {
	border-bottom: 1px solid deeppink;
}
.modal-footer {
	border-top: 1px solid deepskyblue;
}
.modal-header .close{
	opacity: 1;
	color: white;
	text-shadow: 2px 2px 0px #8BC34A;
}
.modal-footer .btn-default{
	transition: 0.1s;
	color: white;
	border-radius: 4px;
	border: none;
	background-color: #8BC34A;
	box-shadow: inset 0px -3px 0px rgb(0,0,0,0.2);
}
.modal-footer .btn-primary{
	transition: 0.1s;
	color: white;
	border-radius: 4px;
	border: none;
	background-color: #8BC34A;
	box-shadow: inset 0px -3px 0px rgb(0,0,0,0.2);
}
.modal .btn:active{
	height: 29px;
	box-shadow: none;
	margin-top: 3px;
}
.modal-footer .btn-default:hover{
	background-color: deepskyblue;
}
.modal-footer .btn-primary:hover{
	
	background-color: deepskyblue;
}
/*************************
 *********工具提示**********
 *************************/
/*默认主题下的工具提示样式*/
.tooltip{
	min-width: 200px;
	max-width: 400px;
	line-height: 40px;
	z-index: 10;
	/*background-color: rgba(16,17,55,1);*/
}
.tooltip-inner {
	min-height: 40px;
	border: 5px solid #5D4037;
	box-sizing: border-box;
	box-shadow: 2px 2px 0px #795548;
	max-width: 200px;
	padding: 3px 8px;
	color: white;
	text-align: center;
	background-color: #4CAF50;
	border-radius: 0px;
	text-shadow: 1px 1px deepskyblue;
}
.tooltip.in{
	opacity: 1;
}
.tooltip.right .tooltip-arrow{
	border-right-color: deeppink;
}
.tooltip.left .tooltip-arrow{
	border-left-color: white;
}
.tooltip.top .tooltip-arrow{
	border-top-color: white;
}
.tooltip.bottom .tooltip-arrow{
	border-bottom-color: white;
}
